
body {
    font-family: Arial, sans-serif;
    background-color: #d02929;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #13a53f;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px #888;
}